.navbar-brand{
    font-family: system-ui, sans-serif;
    color: rgb(198, 146, 170);
}
.euclid{
    display: flex;
    width: 50px;
    height: 50px;
    margin-left: 15px;
    border-radius: 50px;
}
.line{
    width: 100vw;
    height: 3vh;
}
.backg{
    height: 110vh;
    width: 110vw;
    background-color: #fbf0ee;
}
.background{
    display: inline-block;
    width: 80vw;
    height: 150vh;
    background-color: #fee1ff;
    margin-top: -60px;
    margin-left: auto;
    margin-right:auto;
    position: relative;
}
.card1{
    background-color: #fee1ff;
    width: 250px;
    height: 250px;
    border: solid 2px #fee1ff;
    border-radius: 24px;
}
.images{
    width: 150px;
    height: 150px;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    border-radius: 24px;
    margin-top: 7.5px;
}
.image1{
    background-image: url(https://i.pinimg.com/236x/da/e7/b1/dae7b1f863c59ff3e8a45e3070cf72d3.jpg);
}
.text1{
    margin-left: 19%;
    font-family: system-ui, -apple-system, sans-serif;
    
}
.cost1{
    display: flex;
    margin: auto;
    margin-left: 19%;
    font-family: system-ui, -apple-system, sans-serif;
    color: black;
    font-weight: bolder;
    font-size: large;
}
.buy1{
    display: flex;
    margin: auto;
    margin-left: 19%;
    font-family: 'Corporative Sans Alt', sans-serif;
    font-size: larger;
    position: relative;
    background: rgb(102, 89, 235);
    border-radius: 10px;
    text-align: center;
    color: aliceblue;
    border: 1px solid rgb(102, 89, 235);
    transition: 0.3s;
}
.buy1:hover{
    background: rgb(81, 71, 189);
    opacity: 1;
}
.image2{
    background-image: url(https://i.pinimg.com/236x/48/28/6e/48286e8b87cf82d48b99318fd19a15b5.jpg);
}
.image3{
    background-image: url(https://i.pinimg.com/236x/bd/de/68/bdde68fb06cd75f21bad4f7c1beaed80.jpg);
}
.image4{
    background-image: url(https://i.pinimg.com/236x/b6/e0/60/b6e06048f718f448e9108f1a37987758.jpg);
}
.image5{
    background-image: url(https://i.pinimg.com/236x/a2/57/4c/a2574c5c68f4c71bb067752e6772beed.jpg);
}
.image6{
    background-image: url(https://i.pinimg.com/236x/39/ce/5b/39ce5b6f8b29ba75e38b4c9686dafdeb.jpg);
}
.image7{
    background-image: url(https://i.pinimg.com/236x/bc/64/d2/bc64d2b9398485e2b3bb8b17d834c8ed.jpg);
}
.image8{
    background-image: url(https://i.pinimg.com/236x/fd/58/ec/fd58ec4d56fb53e2ec145a7eeef2ba06.jpg);
}
.image9{
    background-image: url(https://i.pinimg.com/236x/0b/17/a1/0b17a1bd0ad5ad4348070fbb2939fd02.jpg);
}
.landingimage{
    display: flex;
    background-image: url(https://i.imgur.com/OAxO1tU.png);
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
.landingtext{
    display: flex;
    margin: auto;
    margin-top: -750px;
    margin-left: 625px;
    font-family: system-ui, sans-serif;
    font-weight: bold;
}
.secondtext{
    display: flex;
    position: absolute;
    margin: auto;
    margin-top: 100px;
    margin-left: -150px;
    font-weight: lighter;
    font-family: system-ui, sans-serif;
    font-size: medium;
}
.btn-success{
    display: flexbox;
    margin: auto;
    margin-left: 130px;
    margin-top: 25px;
}
.card-img-top{
    width: 250px;
    height: 250px;
}
.bigbox{
    width: 80vw;
    height: 80vh;
    display: flex;
    background-color: rgba(128, 128, 128, 0.5);
    border: solid 5px grey;
    border-radius: 25px;
    margin: auto;
    margin-top: 50px;
}
.avatarochka{
    display: flex;
    margin: auto;
    margin-top: -700px;
    margin-left: 7%;
    background-image: url(https://i.pinimg.com/236x/23/cd/88/23cd88237e1ca6efa6f7eafafbe86192.jpg);
    border-radius: 90px;
    background-size: cover;
    width: 180px;
    height: 180px;
}
.text5{
    display: flex;
    margin: auto;
    margin-left: 47%;
    font-weight: bolder;
    font-size: larger;
    margin-top: 15%;
}
.randomtext{
    display: flex;
    margin-top: 35%;
    margin-left: -50%;
}
.profilename{
    display: flex;
    position: absolute;
    margin-left: 37%;
}